@import 'header.css';
@import 'body.css';

:root {
  --background-color: #f5c2c2;
  --secondary-background-color: #700606;
  --primary-color: #db150b;
  --secondary-color: #ac1508;
  --primary-font-family: times, serif;
  --font-family: URW Chancery L, cursive;
  --secondary-font-family: Consolas, monaco, monospace;
  --primary-font-color: #f5c2c2;
  --shadow-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #353535;
  }
}

html {
  background-color: var(--background-color);
  font-family: var(--primary-font-family);
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  width: inherit;
  height: inherit;
  margin: inherit;
  border: inherit;
  padding: inherit;
}
